@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<div class="row">
    <div class="col-md-9">
        <div class="product-info">
            <img src="~/img/VanGogh.jpg" />
            <h3>Mug</h3>
            <ul class="products-props">
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: </li>
                <li>Description: Self-Portrait</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>

        <!-- Div to create a form with different types of text boxes. -->
        <div id="theForm">
            <form>
                <label>Your Name:</label>
                <br />
                <input />
                <br />
                <label>Email:</label>
                <br />
                <input type="email" />
                <br />
                <label>Subject:</label>
                <br />
                <input type="text" />
                <br />
                <label>Message:</label>
                <br />
                <textarea rows="4"></textarea>
                <br />
                <input type="submit" value="Send Message" />
            </form>
        </div>

        <div>
            <div id="loginToggle">Login</div>
            <form method="post">
                <div class="form-group">
                    <div asp-validation-summary="All"></div>
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" />
                    <span asp-validation-for="Username" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"> Remember Me?</label>
                    </div>
                    <span asp-validation-for="RememberMe" class="text-warning"></span>
                </div>
                <div class="form-group">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="nav-item"><a class="btn btn-success" asp-controller="Account" asp-action="Logout">Logout</a></span>
                    }
                    else
                    {
                        <span class="nav-item"><a class="btn btn-success" asp-controller="Account" asp-action="Login">Login</a></span>
                    }
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-3">
        <p>This is  fun site to do some buying of Dutch products.</p>
    </div>
</div>